<?xml version="1.0" encoding="utf-8"?>
<config>
	<licenseNumber>9504-9999-001472</licenseNumber>
	<domainKey>01555d56f8def398191b970a5b70877eea233b4993f5b50e064f4784d6de35e83b9678dce51e117e03e4b2a5dce79eb1</domainKey>
	<maxImageNum>20</maxImageNum>
	<maxImageWidth>1600</maxImageWidth>
	<maxImageHeight>1600</maxImageHeight>
	<maxImageBytes>10485760</maxImageBytes>
	<checkImageTitle>off</checkImageTitle>
	<locale>kor</locale>
	<services>
		<service>
			<name>Editor</name>
			<iconURL></iconURL>
			<url>com/namo/Editor.swf</url>
		</service>
		<service>
			<name>Slideshow</name>
			<iconURL>assets/images/slideshow/slideshow_icon.png</iconURL>
			<url>com/namo/Slideshow.swf</url>
		</service>
	</services>
</config>
