<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<title>template8</title>
<link rel="stylesheet" type="text/css" href="/css/cms/template.css">
</head>
<body>
<div class="templateSection">
	<strong class="mainTitle">스텝영역 타이틀</strong>
	<p>인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨</p>
	<p>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</p>
	<div class="stepList">
		<ul>
			<li class="item1"><span><b>타이틀</b><br />테스트 테스트</span></li>
			<li class="item2"><span><b>타이틀</b><br />테스트 테스트</span></li>
			<li class="item3"><span><b>타이틀</b><br />테스트 테스트</span></li>
			<li class="item4"><span><b>타이틀</b><br />테스트 테스트</span></li>
			<li class="item5"><span><b>타이틀</b><br />테스트 테스트</span></li>
			<li class="item6"><span><b>타이틀</b><br />테스트 테스트</span></li>
		</ul>
	</div>
	<div class="stepList cols2">
		<ul>
			<li class="item1"><span><b>타이틀</b><br />테스트 테스트</span></li>
			<li class="item2"><span><b>타이틀</b><br />테스트 테스트</span></li>
		</ul>
	</div>
	<div class="stepList cols3">
		<ul>
			<li class="item1"><span><b>타이틀</b><br />테스트 테스트</span></li>
			<li class="item2"><span><b>타이틀</b><br />테스트 테스트<br />테스트 테스트</span></li>
			<li class="item3"><span><b>타이틀</b><br />테스트 테스트<br />테스트 테스트</span></li>
		</ul>
	</div>
	<div class="stepList cols4">
		<ul>
			<li class="item1"><span>테스트 테스트</span></li>
			<li class="item2"><span>테스트 테스트</span></li>
			<li class="item3"><span>테스트 테스트</span></li>
			<li class="item4"><span>테스트 테스트</span></li>
		</ul>
	</div>
	<div class="stepList cols5">
		<ul>
			<li class="item1"><span>테스트 테스트</span></li>
			<li class="item2"><span>테스트 테스트</span></li>
			<li class="item3"><span>테스트 테스트</span></li>
			<li class="item4"><span>테스트 테스트</span></li>
			<li class="item5"><span>테스트 테스트</span></li>
		</ul>
	</div>
	<div class="stepList cols6">
		<ul>
			<li class="item1"><span>테스트 테스트</span></li>
			<li class="item2"><span>테스트 테스트</span></li>
			<li class="item3"><span>테스트 테스트</span></li>
			<li class="item4"><span>테스트 테스트</span></li>
			<li class="item5"><span>테스트 테스트</span></li>
			<li class="item6"><span>테스트 테스트</span></li>
		</ul>
	</div>
</div>
</body>
</html>
