<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<title>template17</title>
<link rel="stylesheet" type="text/css" href="/css/cms/template.css">
</head>
<body>
<div class="templateSection">
	<strong class="mainTitle">설명영역 타이틀 (이미지 사이즈 : 120*150)</strong>
	<div class="imgTitleCon">
		<img src="/images/cms/template/img_mini_ex.png" alt="">
		<span><b>타이틀 타이틀 타이틀 타이틀</b>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</span>
	</div>
	<div class="descColCon">
		<p>인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨</p>
		<p>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</p>
		<p>인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨</p>
		<p>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</p>
		<p>인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨</p>
		<p>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</p>
	</div>
</div>
</body>
</html>
