<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<title>template18</title>
<link rel="stylesheet" type="text/css" href="/css/cms/template.css">
</head>
<body>
<div class="templateSection">
	<strong class="mainTitle">정보영역 타이틀 (이미지 사이즈 : 120*150)</strong>
	<p>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</p>
	<div class="infoCircleList">
		<ul>
			<li><span>인재아이엔씨</span></li>
			<li><span>인재아이엔씨 인재아이엔씨</span></li>
			<li><span>인재아이엔씨 인재아이엔씨 인재아이엔씨</span></li>
		</ul>
	</div>
</div>
</body>
</html>
