<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<title>template12</title>
<link rel="stylesheet" type="text/css" href="/css/cms/template.css">
</head>
<body>
<div class="templateSection">
	<strong class="mainTitle">아이콘영역 타이틀</strong>
	<p>인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨</p>
	<p>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</p>
	<b class="subTitle">아이콘 + 설명</b>
	<div class="iconDescList cols2">
		<div>
			<span class="icon"><img src="/images/cms/template/icon_ex.png" alt=""></span>
			<ul class="conList dot">
				<li>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트</li>
			</ul>
		</div>
		<div>
			<span class="icon"><img src="/images/cms/template/icon_ex.png" alt=""></span>
			<ul class="conList dot">
				<li>테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트</li>
			</ul>
		</div>
	</div>

	<div class="iconDescList cols3">
		<div>
			<span class="icon"><img src="/images/cms/template/icon_ex.png" alt=""></span>
			<ul class="conList dot">
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
			</ul>
		</div>
		<div>
			<span class="icon"><img src="/images/cms/template/icon_ex.png" alt=""></span>
			<ul class="conList dot">
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
			</ul>
		</div>
		<div>
			<span class="icon"><img src="/images/cms/template/icon_ex.png" alt=""></span>
			<ul class="conList dot">
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
			</ul>
		</div>
	</div>

	<div class="iconDescList cols4">
		<div>
			<span class="icon"><img src="/images/cms/template/icon_ex.png" alt=""></span>
			<ul class="conList dot">
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
			</ul>
		</div>
		<div>
			<span class="icon"><img src="/images/cms/template/icon_ex.png" alt=""></span>
			<ul class="conList dot">
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
			</ul>
		</div>
		<div>
			<span class="icon"><img src="/images/cms/template/icon_ex.png" alt=""></span>
			<ul class="conList dot">
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
			</ul>
		</div>
		<div>
			<span class="icon"><img src="/images/cms/template/icon_ex.png" alt=""></span>
			<ul class="conList dot">
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
				<li>테스트 테스트 테스트 테스트 테스트 테스트</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>
