<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<title>template3</title>
<link rel="stylesheet" type="text/css" href="/css/cms/template.css">
</head>
<body>
<div class="templateSection">
	<strong class="mainTitle">타이틀 타이틀 타이틀 타이틀 타이틀</strong>
	<p>인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨</p>
	<p>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</p>
	<div class="tblTitle">
		<b class="title">테이블타이틀</b>
		<span class="desc">테스트</span>
		<span class="right">테스트</span>
	</div>
	<div class="tblBox">
		<table class="colStyle">
			<caption>테이블 제목</caption>
			<colgroup>
				<col style="width:25%;">
				<col style="width:25%;">
				<col style="width:25%;">
				<col style="width:25%;">
			</colgroup>
			<thead>
				<tr>
					<th scope="col">가로형 테이블</th>
					<th scope="col">가로형 테이블</th>
					<th scope="col">가로형 테이블</th>
					<th scope="col">가로형 테이블</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>테스트 테스트 테스트 테스트</td>
					<td>테스트 테스트 테스트 테스트</td>
					<td>테스트 테스트 테스트 테스트</td>
					<td>테스트 테스트 테스트 테스트</td>
				</tr>
				<tr>
					<td>테스트 테스트 테스트 테스트</td>
					<td>테스트 테스트 테스트 테스트</td>
					<td>테스트 테스트 테스트 테스트</td>
					<td>테스트 테스트 테스트 테스트</td>
				</tr>
				<tr>
					<td>테스트 테스트 테스트 테스트</td>
					<td>테스트 테스트 테스트 테스트</td>
					<td>테스트 테스트 테스트 테스트</td>
					<td>테스트 테스트 테스트 테스트</td>
				</tr>
			</tbody>
		</table>
		<ul class="conList star">
			<li>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</li>
			<li>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</li>
		</ul>
	</div>
	<div class="tblBox">
		<table class="rowStyle">
			<caption>테이블 제목</caption>
			<colgroup>
				<col style="width:20%;">
				<col>
			</colgroup>
			<tbody>
				<tr>
					<th scope="row">세로형 테이블</th>
					<td>테스트 테스트 테스트 테스트</td>
				</tr>
				<tr>
					<th scope="row">세로형 테이블</th>
					<td>테스트 테스트 테스트 테스트</td>
				</tr>
				<tr>
					<th scope="row">세로형 테이블</th>
					<td>테스트 테스트 테스트 테스트</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>
