<!doctype html>
<html lang="ko">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<title>template13</title>
<link rel="stylesheet" type="text/css" href="/css/cms/template.css">
</head>
<body>
<div class="templateSection">
	<strong class="mainTitle">다운로드영역 타이틀</strong>
	<p>인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨</p>
	<p>테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트 테스트</p>
	<div class="downCon">
		<img src="/images/cms/template/icon_ex.png" alt="">
		<b class="subTitle">다운로드 타이틀</b>
		<p>인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨 인재아이엔씨</p>
		<a href="#" class="btnDown">다운로드</a>
	</div>
</div>
</body>
</html>
