<?xml version="1.0" encoding="UTF-8"?>
<menu>
<menu-part-0>
  <site-cd>nia</site-cd>
  <menu-code>10000000000000000000000</menu-code>
  <sort-order>1000000000000</sort-order>
  <menu-nm>HOME</menu-nm>
  <menu-title>HOME</menu-title>
  <menu-depth>0</menu-depth>
  <menu-path>HOME</menu-path>
  <user-menu-url>/site/nia/main.do</user-menu-url>
  <head-content></head-content>
  <layout-url>/WEB-INF/jsp/injeinc/site/nia/nia_main.jsp</layout-url>
  <link-type>normal</link-type>
  <main-or-sub>main</main-or-sub>
  <show-yn>Y</show-yn>
  <child-menu>
  <menu-part-1>
    <site-cd>nia</site-cd>
    <menu-code>10100000000002020092216</menu-code>
    <sort-order>1010000000000</sort-order>
    <menu-nm>디지털배움터 안내</menu-nm>
    <menu-title>디지털배움터 안내</menu-title>
    <menu-depth>1</menu-depth>
    <menu-path>디지털 배움터 > 디지털배움터 안내</menu-path>
    <user-menu-url>/site/nia/01/10100000000002020092216.jsp</user-menu-url>
    <head-content></head-content>
    <layout-url>/WEB-INF/jsp/injeinc/site/nia/nia_sub.jsp</layout-url>
    <link-type>normal</link-type>
    <main-or-sub>main</main-or-sub>
    <show-yn>Y</show-yn>
    <child-menu>01</child-menu>
  </menu-part-1>
  
  <menu-part-1>
    <site-cd>nia</site-cd>
    <menu-code>10200000000002020092216</menu-code>
    <sort-order>1020000000000</sort-order>
    <menu-nm>디지털배움터 찾아보기</menu-nm>
    <menu-title>디지털배움터 찾아보기</menu-title>
    <menu-depth>1</menu-depth>
    <menu-path>디지털 배움터 > 디지털배움터 찾아보기</menu-path>
    <user-menu-url>/site/nia/search/searchList.do</user-menu-url>
    <head-content></head-content>
    <layout-url>/WEB-INF/jsp/injeinc/site/nia/nia_sub.jsp</layout-url>
    <link-type>normal</link-type>
    <main-or-sub>main</main-or-sub>
    <show-yn>Y</show-yn>
    <child-menu>02</child-menu>
  </menu-part-1>
  
  <menu-part-1>
    <site-cd>nia</site-cd>
    <menu-code>10300000000002020092216</menu-code>
    <sort-order>1030000000000</sort-order>
    <menu-nm>교육 신청하기</menu-nm>
    <menu-title>교육 신청하기</menu-title>
    <menu-depth>1</menu-depth>
    <menu-path>디지털 배움터 > 교육 신청하기</menu-path>
    <user-menu-url></user-menu-url>
    <head-content></head-content>
    <layout-url>/WEB-INF/jsp/injeinc/site/nia/nia_sub.jsp</layout-url>
    <link-type>normal</link-type>
    <main-or-sub>main</main-or-sub>
    <show-yn>Y</show-yn>
    <child-menu>03</child-menu>
  </menu-part-1>
  
  <menu-part-1>
    <site-cd>nia</site-cd>
    <menu-code>10400000000002020092216</menu-code>
    <sort-order>1040000000000</sort-order>
    <menu-nm>강사-서포터즈 신청하기</menu-nm>
    <menu-title>강사-서포터즈 신청하기</menu-title>
    <menu-depth>1</menu-depth>
    <menu-path>디지털 배움터 > 강사-서포터즈 신청하기</menu-path>
    <user-menu-url></user-menu-url>
    <head-content></head-content>
    <layout-url>/WEB-INF/jsp/injeinc/site/nia/nia_sub.jsp</layout-url>
    <link-type>normal</link-type>
    <main-or-sub>main</main-or-sub>
    <show-yn>Y</show-yn>
    <child-menu>04</child-menu>
  </menu-part-1>
  
  <menu-part-1>
    <site-cd>nia</site-cd>
    <menu-code>10500000000002020092216</menu-code>
    <sort-order>1050000000000</sort-order>
    <menu-nm>소통게시판</menu-nm>
    <menu-title>소통게시판</menu-title>
    <menu-depth>1</menu-depth>
    <menu-path>디지털 배움터 > 소통게시판</menu-path>
    <user-menu-url>/site/nia/ex/bbs/List.do?cbIdx=1188</user-menu-url>
    <head-content></head-content>
    <layout-url>/WEB-INF/jsp/injeinc/site/nia/nia_sub.jsp</layout-url>
    <link-type>normal</link-type>
    <main-or-sub>main</main-or-sub>
    <show-yn>Y</show-yn>
    <child-menu>05</child-menu>
  </menu-part-1>
  
  <menu-part-1>
    <site-cd>nia</site-cd>
    <menu-code>10600000000002020092216</menu-code>
    <sort-order>1060000000000</sort-order>
    <menu-nm>홍보관</menu-nm>
    <menu-title>홍보관</menu-title>
    <menu-depth>1</menu-depth>
    <menu-path>디지털 배움터 > 홍보관</menu-path>
    <user-menu-url>/site/nia/ex/bbs/List.do?cbIdx=1189</user-menu-url>
    <head-content></head-content>
    <layout-url>/WEB-INF/jsp/injeinc/site/nia/nia_sub.jsp</layout-url>
    <link-type>normal</link-type>
    <main-or-sub>main</main-or-sub>
    <show-yn>Y</show-yn>
    <child-menu>06</child-menu>
  </menu-part-1>
  





  </child-menu>
</menu-part-0>

</menu>
