@charset "utf-8";

.phoneHide{display:block;}
.phoneShow{display:none;}

h4.icon_h4{position:relative;padding:15px 0;font-size:26px;color:#d43139;word-break:keep-all;}
h4.icon_h4:after{display:block;content:'';clear:both;position:absolute;top:0;left:0;width:28px;height:3px;background-color:#dd2839;}
h4.icon_h4 em{color:#113366;}
h4.icon_h4.cone{padding-left:45px;background:url(/images/demo/sub/icon_cone.jpg) no-repeat left 16px;}
h4.icon_h4.cone:after{top:-3px;}
div.section_h4{padding:20px 0;line-height:150%;margin-bottom:20px;font-size:15px;word-break:keep-all;}
div.section_h4 b{font-size:18px;}
h5.icon_h5{padding:15px 0 15px 35px;background:url(/images/demo/sub/icon_h5.png) no-repeat 5px 17px;font-size:20px;}
div.section_h5{line-height:150%;padding:20px 0 20px 35px;margin-bottom:20px;font-size:15px;word-break:keep-all;}

b.title{padding:10px 0 10px 25px;font-size:18px;}
b.title.check{background:url(/images/demo/sub/icon_h6.png) no-repeat left 15px;}
div.section_title{line-height:150%;padding:20px 0px 20px 30px;margin-bottom:20px;}

ul.listMinus.case{min-height:120px;padding-left:150px;padding-top:20px;background:url(/images/demo/sub/img_cloud10.jpg) no-repeat left top;}
ul.listMinus:after{display:block;content:'';clear:both;}
ul.listMinus > li{position:relative;line-height:130%;padding:2px 12px;font-size:15px;word-break:keep-all;}
ul.listMinus > li:after{display:block;content:'';width:5px;height:2px;position:absolute;top:10px;left:0;background-color:#b6b6b6;}

ul.listDot:after{display:block;content:'';clear:both;}
ul.listDot > li{position:relative;line-height:130%;padding:2px 10px;font-size:15px;word-break:keep-all;}
ul.listDot > li:after{display:block;content:'';width:3px;height:2px;position:absolute;top:10px;left:0;background-color:#000;}

ul.listNum:after{display:block;content:'';clear:both;}
ul.listNum > li{position:relative;line-height:130%;padding:2px 10px 7px 20px;font-size:15px;word-break:keep-all;}
ul.listNum > li > em{display:block;content:'';height:24px;line-height:24px;position:absolute;top:0;left:0;font-weight:700;}

.grayBox{padding:40px;font-size:18px;text-align:center;background:#f7f7f7;}
.grayBox b{color:#d43139;}

/*Recruit*/
.recruit{}
.recruit h4{display:block;padding:10px 0;text-align:center;font-size:34px;}
.recruit h4 br{display:none;}
.recruit h4 em{color:#d31f27;} 
.recruitGuide{padding:40px 80px;background:url(/images/demo/sub/bg_recruit.jpg) no-repeat center top;background-size:cover;box-sizing:border-box;word-break:keep-all;}
.recruitGuide p{padding:5px 0;text-align:center;font-size:18px;color:#333333;}
.recruitGuide > ul{margin:30px -5px;}
.recruitGuide > ul:after{display:block;content:'';clear:both;}
.recruitGuide > ul > li{position:relative;float:left;width:33.3333%;padding:20px 40px;height:220px;box-sizing:border-box;}
.recruitGuide > ul > li:after{display:block;content:'';position:absolute;top:5px;bottom:5px;left:5px;right:5px;background-color:#fff;z-index:0;}
.recruitGuide > ul > li *{z-index:1;}
.recruitGuide > ul > li > b{display:block;position:relative;padding:10px 0;color:#139a7f;font-size:20px;}
.recruitGuide > ul > li > ul:after{display:block;content:'';clear:both;}
.recruitGuide > ul > li > ul > li{position:relative;padding:5px 0 5px 10px;font-size:13px;color:#555;line-height:20px;box-sizing:border-box;}
.recruitGuide > ul > li > ul > li:after{display:block;content:'';position:absolute;top:15px;left:0;width:3px;height:2px;background-color:#000000;}
.recruitGuide > ul > li > ul b{display:inline-block;font-weight:bold;font-size:16px;}
.recruitGuide > ul > li > ul.list > li{float:left;width:50%;font-size:16px;}
.recruitReceiving{padding:35px 80px;background-color:#f3f3f3;}
.recruitReceiving h4{font-size:30px;}
.recruitReceiving p{margin-bottom:5px;text-align:right;}
.recruitReceiving .agreeTitle{display:block;position:relative;margin-bottom:10px;line-height:30px;text-align:right;}
.recruitReceiving .agreeTitle b{display:block;float:left;font-size:15px;}
.recruitReceiving .agreeBox input{vertical-align:middle;}
.recruitReceiving textarea{margin-bottom:5px;padding:20px;width:100%;height:140px;background:#fff;border:1px #dbdbdb solid;box-sizing:border-box;}
.formTh{width:25%;}

/*Contact Us*/
.contactUs{}
.contactUs .contact{position:relative;border-top:2px solid #555555;border-bottom:1px solid #aaaaaa;}
.contactUs .contact:after{display:block;content:'';clear:both;}
.contactUs .contact li{position:relative;float:left;width:50%;height:160px;padding:30px 0 30px 180px;box-sizing:border-box;}
.contactUs .contact li > b{display:block;padding:10px 0;font-size:18px;font-weight:normal;}
.contactUs .contact li > b > b{font-weight:bold;}
.contactUs .contact li > span{display:block;font-size:16px;}
.contactUs .contact li > span > b{display:block;padding:2px 0;}
.contactUs .contact li{background-repeat:no-repeat;background-position:30px 30px;}
.contactUs .contact li.item1{background-image:url(/images/demo/main/img_section4_1.png);}
.contactUs .contact li.item2{background-image:url(/images/demo/main/img_section4_2.png);}
.contactUs .location{position:relative;}
.contactUs .location .address{position:absolute;top:0;left:50%;width:660px;height:90px;margin-left:-330px;background-color:#fff;text-align:center;font-size:15px;z-index:2;}
.contactUs .location .address br{display:none;}
.contactUs .location b{display:block;padding:10px 0;font-size:17px;font-weight:bold;}
.contactUs .location .map{padding-top:100px;z-index:1;}
.contactUs .location .map > iframe{width:100%;}
.contactUs .tabWrap{position:relative;}
.contactUs .tabWrap .tabList{display:block;width:420px;margin:60px auto 30px;}
.contactUs .tabWrap .tabList:after{display:block;content:"";clear:both;}
.contactUs .tabWrap .tabList li{display:block;position:relative;float:left;width:33.3333%;z-index:1;}
.contactUs .tabWrap .tabList li a{display:block;position:relative;height:38px;line-height:34px;margin-right:1px;background-color:#333333;color:#fff;font-size:18px;text-align:center;}
.contactUs .tabWrap .tabList li.active{z-index:2;}
.contactUs .tabWrap .tabList li.active a{background-color:#dd2839;}
.contactUs .tabWrap .tabList li.active a:after{display:block;content:'';position:absolute;bottom:-5px;left:50%;margin-left:-3px;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #dd2839;}
/*
.contactUs .tabWrap .tabContent{display:none;position:relative;}
.contactUs .tabWrap .tabContent.active{display:block;}
*/
.contactUs .tabWrap .tabContent{position:relative;height:0px;overflow:hidden;}
.contactUs .tabWrap .tabContent.active{height:auto;overflow:inherit;}

/*Organization*/
.organization{text-align:center;}
.organization img{margin:0 auto;}

/*Greetings*/
.greetings{}
.greetings ul{display:block;}
.greetings ul li{display:block;position:relative;margin:30px 0;margin-left:-30px;padding:50px 50px 0 470px;width:100%;min-height:298px;font-size:16px;box-sizing:border-box;word-break:keep-all;opacity:0;transition-duration:0.3s;}
.greetings.active ul li{margin-left:0;opacity:1;}
.greetings ul li:after{display:block;content:'';position:absolute;top:30px;left:413px;width:28px;height:3px;background:#dd2839;}
.greetings ul li b{display:block;margin-bottom:20px;font-size:28px;color:#dd2839;}
.greetings ul li img{position:absolute;top:0;left:0;}
.greetings ul li.right{padding:50px 470px 0 50px;}
.greetings ul li.right:after{left:inherit;right:413px;}
.greetings ul li.right img{left:inherit;right:0;}
.greetings ul li:nth-child(1){transition-delay:0.1s;}
.greetings ul li:nth-child(2){transition-delay:0.3s;}
.greetings ul li:nth-child(3){transition-delay:0.5s;}

/*History*/
.history{position:relative;}
.history:after{display:block;content:'';width:3px;position:absolute;top:146px;left:50%;bottom:50px;margin-left:-1px;background-color:#e0e0e0;z-index:0;}
.history > b{display:block;width:146px;height:146px;line-height:146px;margin:0 auto 50px;text-align:center;border-radius:73px;background-color:#d43139;color:#fff;font-size:28px;}
.history ul.tree{margin:0 -40px;}
.history ul.tree > li{display:block;width:50%;margin-top:-35px;position:relative;font-size:16px;box-sizing:border-box;z-index:1;word-break:keep-all;}
.history ul.tree > li.right{padding-left:40px;margin-left:50%;}
.history ul.tree > li.left{padding-right:40px;margin-right:50%;text-align:right;}
.history ul.tree > li em{display:block;position:relative;height:50px;line-height:50px;font-size:28px;color:#d43139;transition-duration:0.3s;opacity:0;}
.history ul.tree > li em:before{display:block;content:'';position:absolute;top:20px;width:6px;height:6px;border:3px solid #362f2d;border-radius:10px;background-color:#fff;z-index:1;}
.history ul.tree > li em:after{display:block;content:'';position:absolute;top:26px;width:21px;height:1px;background-color:#362f2d;}
.history ul.tree > li.right em:before{left:-46px;}
.history ul.tree > li.right em:after{left:-36px;}
.history ul.tree > li.left em:before{right:-46px;}
.history ul.tree > li.left em:after{right:-36px;}
.history ul.tree > li.left ul.listDot > li:after{left:auto;right:0;}
.history ul.tree > li.right ul.listDot > li:after{left:0;}
.history ul.tree > li.left em{margin-right:-30px;}
.history ul.tree > li.right em{margin-left:-30px;}
.history.active ul.tree > li em{margin-left:0;margin-right:0;opacity:1;}
/*.history ul.tree > li:nth-child(15) em{transition-delay:0.1s;}
.history ul.tree > li:nth-child(14) em{transition-delay:0.3s;}
.history ul.tree > li:nth-child(13) em{transition-delay:0.5s;}
.history ul.tree > li:nth-child(12) em{transition-delay:0.7s;}
.history ul.tree > li:nth-child(11) em{transition-delay:0.9s;}
.history ul.tree > li:nth-child(10) em{transition-delay:1.1s;}
.history ul.tree > li:nth-child(9) em{transition-delay:1.3s;}
.history ul.tree > li:nth-child(8) em{transition-delay:1.5s;}
.history ul.tree > li:nth-child(7) em{transition-delay:1.7s;}
.history ul.tree > li:nth-child(6) em{transition-delay:1.9s;}
.history ul.tree > li:nth-child(5) em{transition-delay:2.1s;}
.history ul.tree > li:nth-child(4) em{transition-delay:2.3s;}
.history ul.tree > li:nth-child(3) em{transition-delay:2.5s;}
.history ul.tree > li:nth-child(2) em{transition-delay:2.7s;}
.history ul.tree > li:nth-child(1) em{transition-delay:2.9s;}*/
.history ul.tree > li:nth-child(1) em{transition-delay:0.1s;}
.history ul.tree > li:nth-child(2) em{transition-delay:0.3s;}
.history ul.tree > li:nth-child(3) em{transition-delay:0.5s;}
.history ul.tree > li:nth-child(4) em{transition-delay:0.7s;}
.history ul.tree > li:nth-child(5) em{transition-delay:0.9s;}
.history ul.tree > li:nth-child(6) em{transition-delay:1.1s;}
.history ul.tree > li:nth-child(7) em{transition-delay:1.3s;}
.history ul.tree > li:nth-child(8) em{transition-delay:1.5s;}
.history ul.tree > li:nth-child(9) em{transition-delay:1.7s;}
.history ul.tree > li:nth-child(10) em{transition-delay:1.9s;}
.history ul.tree > li:nth-child(11) em{transition-delay:2.1s;}
.history ul.tree > li:nth-child(12) em{transition-delay:2.3s;}
.history ul.tree > li:nth-child(13) em{transition-delay:2.5s;}
.history ul.tree > li:nth-child(14) em{transition-delay:2.7s;}
.history ul.tree > li:nth-child(15) em{transition-delay:2.9s;}

/*OurPartners*/
.ourpartners{}
.ourpartners > p{font-size:28px;text-align:center;transition-duration:2s;opacity:0;}
.ourpartners.active p{opacity:1;}
.ourpartners > p br{display:none;}
.ourpartners > p > span{display:block;padding:5px 0;font-size:15px;}
.ourpartners > ul{margin:40px 0 0 1px;}
.ourpartners > ul:after{display:block;content:'';clear:both;}
.ourpartners > ul > li{float:left;width:20%;margin-top:-1px;margin-left:-1px;border:1px solid #d9d9d9;box-sizing:border-box;transition-duration:0.5s;opacity:0;}
.ourpartners.active > ul > li{opacity:1;}
.ourpartners > ul > li > a{display:block;height:103px;line-height:103px;text-align:center;overflow:hidden;}
.ourpartners > ul > li > a > img{display:inline-block;max-height:100%;vertical-align:middle;}
.ourpartners > ul > li:nth-child(1){transition-delay:0.1s;}
.ourpartners > ul > li:nth-child(2){transition-delay:0.6s;}
.ourpartners > ul > li:nth-child(3){transition-delay:2s;}
.ourpartners > ul > li:nth-child(4){transition-delay:0.9s;}
.ourpartners > ul > li:nth-child(5){transition-delay:0.1s;}
.ourpartners > ul > li:nth-child(6){transition-delay:1.2s;}
.ourpartners > ul > li:nth-child(7){transition-delay:0.3s;}
.ourpartners > ul > li:nth-child(8){transition-delay:0.9s;}
.ourpartners > ul > li:nth-child(9){transition-delay:1.5s;}
.ourpartners > ul > li:nth-child(10){transition-delay:0.7s;}
.ourpartners > ul > li:nth-child(11){transition-delay:0.8s;}
.ourpartners > ul > li:nth-child(12){transition-delay:0.1s;}
.ourpartners > ul > li:nth-child(13){transition-delay:1.8s;}
.ourpartners > ul > li:nth-child(14){transition-delay:0.6s;}
.ourpartners > ul > li:nth-child(15){transition-delay:1.3s;}
.ourpartners > ul > li:nth-child(16){transition-delay:0.9s;}
.ourpartners > ul > li:nth-child(17){transition-delay:0.3s;}
.ourpartners > ul > li:nth-child(18){transition-delay:1s;}
.ourpartners > ul > li:nth-child(19){transition-delay:1.4s;}
.ourpartners > ul > li:nth-child(20){transition-delay:0.6s;}
.ourpartners > ul > li:nth-child(21){transition-delay:1.8s;}
.ourpartners > ul > li:nth-child(22){transition-delay:0.7s;}
.ourpartners > ul > li:nth-child(23){transition-delay:0.8s;}
.ourpartners > ul > li:nth-child(24){transition-delay:0.2s;}
.ourpartners > ul > li:nth-child(25){transition-delay:1.7s;}
.ourpartners > ul > li:nth-child(26){transition-delay:0.9s;}
.ourpartners > ul > li:nth-child(27){transition-delay:1.6s;}
.ourpartners > ul > li:nth-child(28){transition-delay:2s;}
.ourpartners > ul > li:nth-child(29){transition-delay:0.1s;}
.ourpartners > ul > li:nth-child(30){transition-delay:0.8s;}
.ourpartners > ul > li:nth-child(31){transition-delay:1.2s;}
.ourpartners > ul > li:nth-child(32){transition-delay:0.8s;}
.ourpartners > ul > li:nth-child(33){transition-delay:0.1s;}
.ourpartners > ul > li:nth-child(34){transition-delay:0.5s;}
.ourpartners > ul > li:nth-child(35){transition-delay:1.2s;}
.ourpartners > ul > li:nth-child(36){transition-delay:0.5s;}
.ourpartners > ul > li:nth-child(37){transition-delay:0.1s;}
.ourpartners > ul > li:nth-child(38){transition-delay:0.1s;}
.ourpartners > ul > li:nth-child(39){transition-delay:0.5s;}
.ourpartners > ul > li:nth-child(40){transition-delay:1.2s;}
.ourpartners > ul > li:nth-child(41){transition-delay:0.1s;}
.ourpartners > ul > li:nth-child(42){transition-delay:0.6s;}
.ourpartners > ul > li:nth-child(43){transition-delay:2s;}
.ourpartners > ul > li:nth-child(44){transition-delay:0.9s;}
.ourpartners > ul > li:nth-child(45){transition-delay:0.1s;}
.ourpartners > ul > li:nth-child(46){transition-delay:1.2s;}
.ourpartners > ul > li:nth-child(47){transition-delay:0.3s;}
.ourpartners > ul > li:nth-child(48){transition-delay:0.9s;}
.ourpartners > ul > li:nth-child(49){transition-delay:1.5s;}
.ourpartners > ul > li:nth-child(50){transition-delay:0.7s;}

/*Cloud*/
/*.cloud .img_cloud2{display:inline-block;margin-left:60px;}*/

/*CMS*/
/*.cms .easyframework{position:relative;padding-left:300px;margin-bottom:30px;}
.cms .easyframework:after{display:block;content:'';clear:both;}
.cms .easyframework > b{display:block;padding:10px 0;font-size:20px;word-break:keep-all;}
.cms .easyframework > span{display:block;padding:5px 0;margin-bottom:25px;font-size:15px;}
.cms .easyframework > img{display:block;position:absolute;top:0;left:0;width:232px;height:280px;}*/

/*BIM*/
/*.bim ul.petra{}
.bim ul.petra{}
.bim ul.petra > li{position:relative;min-height:150px;padding-left:280px;padding-bottom:50px;}
.bim ul.petra > li > img{display:block;position:absolute;top:0;left:0;}
.bim ul.petra > li > b{display:block;margin-bottom:25px;font-size:18px;word-break:keep-all;}
.bim ul.petra > li > div{font-size:15px;}*/

/*Secure*/
/*.secure .codeRay{position:relative;padding-left:240px;margin-bottom:30px;}
.secure .codeRay:after{display:block;content:'';clear:both;}
.secure .codeRay > b{display:block;padding:10px 0 15px;font-size:20px;word-break:keep-all;}
.secure .codeRay > img{display:block;position:absolute;top:0;left:0;width:187px;height:209px;}*/

/*Overview*/
.overview{text-align:center;}
.overview .icon_h4{margin-bottom:70px;}
.overview .icon_h4:after{width:1px;height:20px;left:50%;top:auto;bottom:-25px;}
.overview img.img_overview{display:block;margin:70px auto;}

/*Privacy*/
.privacy{line-height:160%;}
.privacy_summary{margin:10px 0;padding:15px 20px;background:#f4f4f4;border:1px #ddd solid;}
.privacy_list li{position:relative;padding-left:20px;font-size:13px;font-weight:normal;color:#666;}
.privacy_list ul li{padding-left:10px;}
.privacy_list p{font-size:13px;font-weight:normal;color:#666;}
.privacy_list li em{position:absolute;top:0;left:0;}
.privacy_list > li{margin-bottom:20px;padding-left:20px;font-size:15px;font-weight:bold;color:#222;}
.privacy_list > li > b{display:block;margin-left:-20px;}
.privacy_list > li > b > em{position:static;}


.docUI{position:relative;}
.docUI .docSection{position:relative;margin-bottom:50px;padding:0 0 70px 240px;border-bottom:1px #ddd dotted;}
.docUI .docSection.last{border-bottom:0px none;}
.docUI h4{display:block;position:absolute;top:0;left:0;padding-bottom:25px;font-size:28px;font-weight:bold;color:#d43139;letter-spacing:-1px;}
.docUI h4:after{display:block;content:'';position:absolute;left:0;bottom:0;width:22px;border-bottom:2px #d43139 solid;}
.docUI h5{display:block;margin-bottom:25px;font-size:28px;font-weight:normal;}
.docUI h6{display:block;margin-bottom:15px;padding-left:24px;min-height:25px;font-size:18px;line-height:25px;background:url(/images/demo/layout/icon_h6.png) no-repeat left 6px;}
.docUI b.title{display:block;position:relative;margin-bottom:50px;padding:15px 0;font-size:40px;color:#d43139;text-align:center;word-break:keep-all;}
.docUI b.title:after{display:block;content:'';clear:both;position:absolute;left:50%;bottom:-30px;width:1px;height:20px;background-color:#dd2839;}
.docUI b.title span{display:block;margin-top:0;font-size:22px;font-weight:normal;color:#7e7e7e;}
.docUI p{display:block;margin-bottom:25px;font-size:15px;}
.docUI .listBox{min-height:120px;padding:30px 30px 30px 150px;background:url(/images/demo/layout/bg_listBox.png) no-repeat 30px 20px;border:1px #ddd solid;box-sizing:border-box;}
.docUI .listBox ul > li{position:relative;padding:2px 12px;font-size:15px;line-height:130%;word-break:keep-all;}
.docUI .listBox ul > li:after{display:block;content:'';position:absolute;top:10px;left:0;width:5px;height:2px;background-color:#b6b6b6;}

ul.sub0304{display:block;position:relative;}
ul.sub0304:after{display:block;content:'';clear:both;}
ul.sub0304 li{display:block;position:relative;float:left;margin-right:60px;width:190px;font-size:18px;text-align:center;box-sizing:border-box;}
ul.sub0304 li:after{display:block;content:'';position:absolute;top:83px;right:-60px;width:60px;height:25px;background:url(/images/demo/layout/icon_liPlus.png) no-repeat center top;}
ul.sub0304 li.last{margin-right:0;}
ul.sub0304 li.last:after{display:none;}
ul.sub0304 li img{display:block;margin:0 auto 20px;}

ul.sub030301{display:block;position:relative;}
ul.sub030301:after{display:block;content:'';clear:both;}
ul.sub030301 li{display:block;position:relative;float:left;margin-right:40px;width:164px;text-align:center;box-sizing:border-box;}
ul.sub030301 li:after{display:block;content:'';position:absolute;top:50%;right:-40px;margin-top:-12px;width:40px;height:25px;background:url(/images/demo/layout/icon_liPlus_s.png) no-repeat center top;}
ul.sub030301 li.last{margin-right:0;}
ul.sub030301 li.last:after{display:none;}

ul.sub030302{display:block;position:relative;}
ul.sub030302:after{display:block;content:'';clear:both;}
ul.sub030302 li{display:block;position:relative;float:left;margin-right:24px;width:130px;text-align:center;box-sizing:border-box;}
ul.sub030302 li:after{display:block;content:'';position:absolute;top:50%;right:-24px;margin-top:-12px;width:24px;height:25px;background:url(/images/demo/layout/icon_liArrow.png) no-repeat center top;}
ul.sub030302 li.last{margin-right:0;}
ul.sub030302 li.last:after{display:none;}

ul.sub030201{display:block;position:relative;}
ul.sub030201:after{display:block;content:'';clear:both;}
ul.sub030201 li{display:block;position:relative;float:left;margin-right:34px;width:202px;text-align:center;box-sizing:border-box;}
ul.sub030201 li:after{display:block;content:'';position:absolute;top:96px;right:-37px;width:40px;height:9px;background:url(/images/demo/layout/icon_liLink.png) no-repeat center top;z-index:1;}
ul.sub030201 li.last{margin-right:0;}
ul.sub030201 li.last:after{display:none;}
ul.sub030201 li img{display:block;margin:0 auto 20px;}

ul.sub030202{display:block;position:relative;}
ul.sub030202:after{display:block;content:'';clear:both;}
ul.sub030202 li{display:block;position:relative;float:left;margin-right:4px;width:188px;text-align:center;box-sizing:border-box;}
ul.sub030202 li img{display:block;margin:0 auto;}
ul.sub030202 li span{display:block;position:relative;margin-top:27px;padding:20px 0;height:145px;border:1px #49bf91 dotted;border-radius:10px;box-sizing:border-box;}
ul.sub030202 li span:after{display:block;content:'';position:absolute;top:-33px;left:50%;margin-left:-5px;width:11px;height:11px;background:url(/images/demo/layout/icon_liRing.png) no-repeat center top;}
ul.sub030202 li span:before{display:block;content:'';position:absolute;top:-27px;left:50%;height:27px;border-right:1px #49bf91 solid;}
ul.sub030202 li.item2 span{border:1px #54a9c4 dotted;}
ul.sub030202 li.item2 span:before{border-right:1px #54a9c4 solid;}
ul.sub030202 li.item3 span{border:1px #54a9c4 dotted;}
ul.sub030202 li.item3 span:before{border-right:1px #54a9c4 solid;}
ul.sub030202 li.item4 span{border:1px #4c66af dotted;}
ul.sub030202 li.item4 span:before{border-right:1px #4c66af solid;}
ul.sub030202 li.item5 span{border:1px #6547c4 dotted;}
ul.sub030202 li.item5 span:before{border-right:1px #6547c4 solid;}

ul.sub030203{display:block;position:relative;margin:0 -8px;}
ul.sub030203:after{display:block;content:'';clear:both;}
ul.sub030203 li{display:block;position:relative;float:left;padding:0 18px;width:33.3333%;box-sizing:border-box;}
ul.sub030203 li .thumb{display:block;margin:0 -10px 20px;height:170px;line-height:170px;text-align:center;background:#f0f6fc;}
ul.sub030203 li img{vertical-align:middle;}

ul.sub030101{display:block;position:relative;padding:70px;height:540px;background:url(/images/demo/sub/bg_sub030101.png) no-repeat center center;background-size:cover;box-sizing:border-box;}
ul.sub030101:after{display:block;content:'';clear:both;}
ul.sub030101 li{display:block;position:relative;float:left;padding:0 20px;width:25%;text-align:center;box-sizing:border-box;}
ul.sub030101 li img{display:block;margin:0 auto;}
ul.sub030101 li span{display:block;position:relative;margin-top:27px;padding:30px 0;height:170px;font-size:15px;line-height:150%;background:#fff;border:2px #46b88f solid;border-radius:10px;box-sizing:border-box;}
ul.sub030101 li span:after{display:block;content:'';position:absolute;top:-33px;left:50%;margin-left:-5px;width:11px;height:11px;background:url(/images/demo/layout/icon_liRing.png) no-repeat center top;}
ul.sub030101 li span:before{display:block;content:'';position:absolute;top:-27px;left:50%;height:27px;border-right:1px #49bf91 solid;}
ul.sub030101 li.item2 span{border:2px #5aafc7 solid;}
ul.sub030101 li.item2 span:before{border-right:1px #5786bb solid;}
ul.sub030101 li.item3 span{border:2px #5786bb solid;}
ul.sub030101 li.item3 span:before{border-right:1px #54a9c4 solid;}
ul.sub030101 li.item4 span{border:2px #516ab3 solid;}
ul.sub030101 li.item4 span:before{border-right:1px #516ab3 solid;}

.sub0305{position:relative;padding:40px 30px;font-size:19px;font-weight:bold;text-align:center;border:1px #ebebeb solid;}
.sub0305:before{display:block;content:'';position:absolute;left:0;right:0;bottom:0;height:500px;background:#ebebeb;z-index:-1;}
.sub0305 b{color:#d43139;}
.sub030501{position:relative;text-align:center;overflow:hidden;}
.sub030501 dl:after{display:block;content:'';clear:both;}
.sub030501 dt{display:block;position:absolute;top:-9999px;}
.sub030501 dd{display:inline-block;margin-right:-15px;width:296px;height:186px;text-indent:-9999em;background-repeat:no-repeat;background-position:left top;}
.sub030501 dd.item1{background-image:url(/images/demo/sub/img_sub03050101.png);}
.sub030501 dd.item2{background-image:url(/images/demo/sub/img_sub03050102.png);}
.sub030501 dd.item3{background-image:url(/images/demo/sub/img_sub03050103.png);}
.sub030502{position:relative;text-align:center;overflow:hidden;}
.sub030502:after{display:block;content:'';clear:both;}
.sub030502 span{display:inline-block;height:204px;text-indent:-9999em;background-repeat:no-repeat;background-position:center center;}
.sub030502 span.item1{width:232px;background-image:url(/images/demo/sub/img_sub03050201.png);}
.sub030502 span.item2{width:373px;background-image:url(/images/demo/sub/img_sub03050202.png);}
.sub030502 span.item3{width:232px;background-image:url(/images/demo/sub/img_sub03050203.png);}

.sub020201{position:relative;padding-left:290px;min-height:220px;font-size:15px;}
.sub020201 img{position:absolute;top:0;left:0;}
.sub020201 b{display:block;margin-bottom:10px;font-size:20px;}
.sub020201 ul{display:block;}
.sub020201 ul li{display:block;margin-bottom:10px;padding-left:20px;font-size:13px;background:url(/images/demo/sub/icon_sub020201.png) no-repeat left 4px;}

.sub020202{float:left;width:40%;font-size:13px;}
.sub020202 ul{display:block;}
.sub020202 ul li{display:block;float:left;margin-right:10px;text-align:center;}
.sub020202 ul li img{display:block;margin-bottom:10px;border:1px #ddd solid;}

.sub020203{float:right;width:60%;}
.sub020203 ul{display:block;border-top:1px #ddd solid;border-left:1px #ddd solid;}
.sub020203 ul:after{display:block;content:'';clear:both;}
.sub020203 ul li{display:block;float:left;padding:15px 15px 0;width:25%;height:95px;text-align:center;border-bottom:1px #ddd solid;border-right:1px #ddd solid;box-sizing:border-box;}
.sub020203 ul li img{display:block;margin:0 auto 10px;}

.sub020101{position:relative;}
.sub020101:after{display:block;content:'';clear:both;}
.sub020101 > img{display:block;position:absolute;top:0;left:0;}
.sub020101 > ul{display:block;margin-left:550px;}
.sub020101 > ul li{display:block;float:left;width:33.3333%;height:165px;text-align:center;box-sizing:border-box;}
.sub020101 > ul li img{display:block;margin:0 auto 10px;}

.sub020301{position:relative;padding-left:315px;min-height:340px;font-size:15px;}
.sub020301 img{position:absolute;top:0;left:0;}
.sub020301 b{display:block;margin-bottom:10px;font-size:20px;}
.sub020301 ul{display:block;}
.sub020301 ul li{display:block;position:relative;margin-bottom:10px;padding:14px 0 14px 80px;font-size:13px;line-height:140%;}
.sub020301 ul li img{display:block;position:absolute;top:0;left:0;}
.sub020301 ul li b{margin-bottom:2px;font-size:15px;}

.sub020303 ul{display:block;}
.sub020303 ul:after{display:block;content:'';clear:both;}
.sub020303 ul li{display:block;position:relative;float:left;margin-top:20px;padding:25px 25px 0 205px;width:50%;height:200px;font-size:13px;border-bottom:1px #ddd dotted;box-sizing:border-box;}
.sub020303 ul li img{display:block;position:absolute;top:0;left:0;}
.sub020303 ul li b{display:block;margin-bottom:10px;font-size:20px;}



/* ======================================== Responsive ======================================== */
/*Mobile*/
@media all and (max-width:1340px){
	*{word-break:keep-all;}

	h4.icon_h4{font-size:22px;}
	h5.icon_h5{font-size:17px;background:url(/images/demo/sub/icon_h5.png) no-repeat 5px 14px;}
	b.title{font-size:16px;}
	b.title.check{background:url(/images/demo/sub/icon_h6.png) no-repeat left 12px;}
	.grayBox{padding:20px;}

	ul.portfolioList > li > a > span{padding:15px 10px;}
	ul.portfolioList > li > a > span > b{font-size:15px;}
	ul.portfolioList > li > a > span > em{font-size:11px;}
	.portfolioDetail .portfolioVisual a{width:40px;height:40px;}
	.portfolioDetail .portfolioVisual a.btn_prev{background:url(/images/demo/sub/btn_portfolio.png) no-repeat -10px;}
	.portfolioDetail .portfolioVisual a.btn_next{background:url(/images/demo/sub/btn_portfolio.png) no-repeat -70px;}

	.recruit h4 br{display:block;}
	.recruitGuide{padding:20px;height:auto;}

	.contactUs .contact li{height:auto;padding:20px 20px 20px 90px;background-size:auto 70px;background-position:10px 30px;}

	.history ul.tree{margin:0;}

	.ourpartners > ul > li{width:33.3333%;}

	.cloud .img_cloud1{display:block;margin:0 auto;}
	.cloud .img_cloud2{display:block;margin-left:0;margin:0 auto;}

	.docUI{}
	.docUI .docSection{padding-left:0;}
	.docUI h4{display:block;position:static;padding-top:10px;line-height:120%;}
	.docUI h4:after{top:0;bottom:inherit;}
	.docUI h5{font-size:18px;}
	.docUI h4 br,
	.docUI h5 br,
	.docUI p br{display:none;}

	.contactUs .location .map > div{max-width:100%;max-height:460px;}
}

/*Phone*/
@media all and (max-width:639px){

	.phoneHide{display:none;}
	.phoneShow{display:block;}

	ul.listMinus.case{min-height:70px;padding-left:70px;padding-top:0;background-size:60px auto;}

	.portfolioDetail h4{padding:45px 0 10px;font-size:24px;}
	.portfolioDetail .btn_list{top:0;height:32px;font-size:14px;line-height:30px;border:1px #333 solid;}
	.portfolioDetail .portfolioVisual{height:300px;}
	.portfolioDetail .portfolioVisual .thumb{margin:-118px 0 0 -150px;padding:11px;width:300px;height:236px;background-size:cover;}
	.portfolioDetail .portfolioVisual a{top:inherit;bottom:10px;}
	.portfolioDetail .portfolioContent{padding:20px;}

	.recruit h4{font-size:24px;}
	.recruitGuide p{font-size:14px;}
	.recruitGuide > ul > li{float:none;padding:15px 10px 15px 30px;width:auto;height:auto;}
	.recruitReceiving{padding:10px;}
	.recruitReceiving h4{font-size:24px;}
	.formTh{width:90px;}

	.contactUs .contact li{float:none;width:auto;height:auto;padding:10px 10px 10px 100px;background-size:auto 70px !important;background-position:10px 20px !important;}
	.contactUs .contact li > b{word-break:keep-all;}
	.contactUs .contact li > span{}
	.contactUs .tabWrap .tabList{width:auto;margin:30px 0 0;}
	.contactUs .tabWrap .tabList li a{font-size:14px;}
	.contactUs .location .address{position:static;top:auto;left:auto;width:auto;height:auto;padding:10px 0;margin:0;}
	.contactUs .location .address br{display:block;}
	.contactUs .location .map > div{height:300px;}
	
	.greetings ul li{padding:10px !important;height:auto;}
	.greetings ul li:after{display:none;}
	.greetings ul li b{margin-bottom:10px;font-size:24px;}
	.greetings ul li img{position:static;margin-bottom:25px;}

	.history:after{display:none;}
	.history > b{width:120px;height:120px;line-height:120px;margin:0 auto 20px;font-size:24px;}	
	.history ul.tree > li{width:100%;padding:0 10px 20px;margin:0;}
	.history ul.tree > li{margin-right:0 !important;margin-left:0 !important;padding-left:20px !important;text-align:left !important;}
	.history ul.tree > li em{padding:0 20px;font-size:24px;}
	.history ul.tree > li em:before{left:-10px !important;}
	.history ul.tree > li em:after{left:-5px !important;}
	.history ul.tree > li.left ul.listDot > li:before{right:inherit;left:0;}
	.history ul.tree > li.left ul.listDot > li:after{right:inherit;left:0;}

	.ourpartners > p{font-size:18px;word-break:keep-all;}
	.ourpartners > p > span{font-size:12px;}
	.ourpartners > p br{display:block;}
	.ourpartners > ul > li{width:50%;}
	.ourpartners > ul > li > a{height:80px;line-height:80px;}

	.cms .easyframework{padding-left:0;}
	.cms .easyframework > img{position:static;top:auto;left:auto;margin:0 auto;}
	
	.bim ul.petra > li{padding-left:0;padding-bottom:30px;margin-bottom:30px;}
	.bim ul.petra > li:after{display:block;content:'';clear:both;position:absolute;left:0;right:0;bottom:0;height:1px;background-color:#dedede;}
	.bim ul.petra > li > img{position:static;top:auto;left:auto;margin:0 auto 20px;}
	.bim ul.petra > li > b{margin-bottom:15px;}

	.secure .codeRay{padding-left:0;}
	.secure .codeRay > img{position:static;top:auto;left:auto;margin:0 auto 10px;}

	.overview .icon_h4 br{display:none;}

	.docUI .listBox{min-height:80px;padding:10px 10px 10px 80px;background:url(/images/demo/layout/bg_listBox.png) no-repeat 10px 10px;background-size:60px auto;}
	.docUI .listBox ul > li{font-size:13px;}

	ul.sub0304:before{display:block;content:'';position:absolute;top:50%;left:50%;margin:-12px 0 0 -12px;width:25px;height:25px;background:url(/images/demo/layout/icon_liPlus.png) no-repeat center top;}
	ul.sub0304 li{padding:10px;margin-right:0;width:50%;font-size:15px;}
	ul.sub0304 li:after{display:none;}
	ul.sub0304 li img{margin-bottom:10px;}

	ul.sub030301{margin:0 -15px;}
	ul.sub030301 li{padding:0 15px;margin-right:0;width:33.3333%;}
	ul.sub030301 li:after{right:-15px;width:30px;}

	ul.sub030302{margin:0 -15px;padding-right:30px;}
	ul.sub030302 li{padding:0 15px;margin-right:0;width:33.3333%;}
	ul.sub030302 li:after{right:-15px;width:30px;}

	ul.sub030201{margin:0 -15px;}
	ul.sub030201 li{margin-right:0;padding:0 15px 15px;width:50%;}
	ul.sub030201 li img{margin:0 auto 5px;}
	ul.sub030201 li br{display:none;}
	ul.sub030201 li:nth-child(3){clear:both;}
	ul.sub030201 li:after{display:none;}

	ul.sub030202{margin:0 -5px;}
	ul.sub030202 li{margin-right:0;padding:0 5px 15px;width:50%;}
	ul.sub030202 li img{display:block;margin:0 auto;}
	ul.sub030202 li span{margin-top:10px;}
	ul.sub030202 li span:after{display:none;}
	ul.sub030202 li span:before{display:none;}
	ul.sub030202 li span br{display:none;}

	ul.sub030203{margin:0;}
	ul.sub030203 li{float:none;padding:0 10px 20px;width:auto;}
	ul.sub030203 li .thumb{margin-bottom:10px;}
	ul.sub030203 li img{vertical-align:middle;}

	ul.sub030101{padding:20px;height:auto;}
	ul.sub030101 li{margin:20px 0;padding:0 5px;width:50%;}
	ul.sub030101 li span{padding:10px 5px;font-size:13px;}
	ul.sub030101 li span br{display:none;}

	.sub0305{padding:20px 10px;}
	.sub0305:before{display:none;}
	.sub030501 dd{display:block;float:none;width:240px;height:150px;background-size:100% auto;}
	.sub030501 dd.item2{margin:10px 0 0 15px;}
	.sub030501 dd.item3{margin:10px 0 0 30px;}
	.sub030502 span{background-size:100% auto;}
	.sub030502 span.item1{float:left;width:200px;height:80px;}
	.sub030502 span.item2{margin:0 auto;width:280px;height:180px;clear:both;}
	.sub030502 span.item3{float:right;width:200px;height:80px;}

	.sub020201{padding-left:0;font-size:14px;}
	.sub020201 img{position:static;margin-bottom:20px;}
	.sub020201 b{font-size:18px;}
	.sub020201 ul li{font-size:13px;}

	.sub020202{float:none;width:auto;}
	.sub020202 ul{margin:0 -5px;}
	.sub020202 ul li{padding:0 5px;margin-right:0;width:50%;box-sizing:border-box;}

	.sub020203{margin-top:20px;width:auto;font-size:12px;}
	.sub020203 ul li{padding:10px 15px 0;width:33.3333%;height:95px;}
	.sub020203 ul li img{margin:0 auto 5px;}

	.sub020101 > img{position:static;}
	.sub020101 > ul{margin-left:0;}
	.sub020101 > ul li img{margin:0 auto;}

	.sub020301{padding-left:0;}
	.sub020301 img{position:static;margin-bottom:20px;}
	.sub020301 ul li{padding:5px 0 10px 80px;min-height:60px;}

	.sub020303 ul li{padding:0 10px 10px 140px;float:none;width:auto;min-height:150px;height:auto;}
	.sub020303 ul li img{width:120px;}
	.sub020303 ul li b{font-size:20px;}
	.sub020303 ul li br{display:none;}

	.contactUs .location .map{padding-top:0px;}
}

/*Tablet*/
@media all and (min-width:640px) and (max-width:960px){
	.portfolioDetail .portfolioVisual{height:520px;}
	.portfolioDetail .portfolioVisual .thumb{margin:-235px 0 0 -300px;padding:21px;width:600px;height:471px;background-size:cover;}

	.recruit h4{font-size:28px;}
	.recruitGuide p{font-size:16px;}
	.recruitGuide > ul > li{width:50%;}
	.recruitGuide > ul > li:first-child{width:100%;height:auto;}
	.recruitGuide > ul > li > ul.list > li{width:25%;}
	.recruitReceiving{padding:20px;}

	.greetings ul li{margin:20px 0;padding:10px 20px 20px 250px;min-height:170px;font-size:14px;}
	.greetings ul li:after{top:0;left:250px;}
	.greetings ul li b{font-size:24px;}
	.greetings ul li img{width:230px;}
	.greetings ul li.right{padding:10px 250px 20px 20px;}
	.greetings ul li.right:after{top:0;left:20px;right:inherit;}

	.ourpartners > ul > li > a{height:90px;line-height:90px;}

	ul.sub0304{margin:0 -20px;}
	ul.sub0304 li{padding:0 20px;margin-right:0;width:25%;font-size:15px;}
	ul.sub0304 li:after{top:50px;right:-20px;width:40px;}
	ul.sub0304 li img{margin-bottom:20px;max-height:120px;}

	ul.sub030301 li{width:130px;}
	ul.sub030302 li{width:100px;}

	ul.sub030201{margin:0 -15px;}
	ul.sub030201 li{margin-right:0;padding:0 15px 15px;width:25%;}
	ul.sub030201 li br{display:none;}
	ul.sub030201 li:after{display:none;}

	ul.sub030202{margin:0 -5px;}
	ul.sub030202 li{margin-right:0;padding:0 5px 15px;width:20%;}
	ul.sub030202 li img{display:block;margin:0 auto;}
	ul.sub030202 li span{padding:10px;}
	ul.sub030202 li span br{display:none;}

	ul.sub030203 li br{display:none;}

	ul.sub030101{padding:40px 20px;height:auto;}
	ul.sub030101 li{padding:0 10px;}
	ul.sub030101 li span{padding:20px 10px;font-size:13px;}
	ul.sub030101 li span br{display:none;}

	.sub0305{padding:30px 15px;}
	.sub0305:before{display:none;}
	.sub030501{text-align:center;}
	.sub030501 dd{display:inline-block;float:none;margin-right:-10px;width:200px;height:130px;background-size:100% auto;}
	.sub030502 span{height:160px;background-size:100% auto;}
	.sub030502 span.item1{width:160px;}
	.sub030502 span.item2{width:240px;}
	.sub030502 span.item3{width:160px;}

	.sub020201{padding-left:200px;font-size:14px;}
	.sub020201 img{width:180px;}
	.sub020201 b{font-size:18px;}
	.sub020201 ul li{font-size:12px;}

	.sub020202{width:35%;}
	.sub020202 ul{margin:0 -5px;}
	.sub020202 ul li{padding:0 5px;margin-right:0;width:50%;box-sizing:border-box;}

	.sub020203{width:60%;font-size:12px;}
	.sub020203 ul li{padding:10px 15px 0;width:25%;height:95px;}
	.sub020203 ul li img{margin:0 auto 5px;}

	.sub020101 > img{width:320px;}
	.sub020101 > ul{margin-left:320px;}
	.sub020101 > ul li{height:130px;}
	.sub020101 > ul li img{margin:0 auto;width:80px;}

	.sub020502{text-align:left;}
	.sub020502 img{display:block;width:100%;}
	.sub020502 img.left{display:block;position:static;}

	.sub020303 ul li{padding:15px 15px 0 140px;}
	.sub020303 ul li img{width:120px;}
	.sub020303 ul li b{font-size:20px;}
	.sub020303 ul li br{display:none;}
}