@charset "utf-8";

/* ********** reset ********** */
*{-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(255,255,255,0);}
html,body{margin:0;padding:0;-webkit-font-smoothing:antialiased;}
body,p,h1,h2,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,pre{margin:0;padding:0;}
caption, .soundOnly{display:block !important;position:absolute !important;top:-9999px !important;}
table{width:100%;border-spacing:0;table-layout:fixed;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}

/* ********** common ********** */
.alignCenter{text-align:center;}
.alignLeft{text-align:left;}
.alignRight{text-align:right;}
.templateSection{overflow:hidden;clear:both;}
.templateSection *{font-size:14px;color:#333;line-height:140%;}
.templateSection img{max-width:100%;}
.templateSection p{margin-bottom:10px;}
.templateSection .btnBasic{display:inline-block;padding:5px 15px;min-width:80px;font-size:13px;color:#fff;text-align:center;background:#a0a0a0;border-radius:3px;vertical-align:middle;box-sizing:border-box;}
.templateSection .btnDown{display:inline-block;padding:5px 15px;min-width:100px;font-size:13px;color:#fff;text-align:left;background:#a0a0a0 url(/images/cms/template/icon_down.png) 85% center no-repeat;background-size:auto 15px;border-radius:3px;vertical-align:middle;box-sizing:border-box;}
.templateSection .btnBasic:hover,
.templateSection .btnDown:hover{background-color:#777;}

/* ********** style ********** */
/* Title */
.templateSection .mainTitle{display:block;margin-bottom:20px;font-size:20px;color:#000;}
.templateSection .subTitle{display:block;margin:20px 0 10px;padding-left:25px;font-size:17px;color:#000;background:url(/images/cms/template/bul_subTitle.png) left 5px no-repeat;}

/* Images */
.templateSection .imgCon{margin-bottom:40px;}
.templateSection .imgCon:after{display:block;content:'';clear:both;}
.templateSection .imgCon.left img{float:left;margin:0 20px 10px 0;}
.templateSection .imgCon.right img{float:right;margin:0 0 10px 20px;}

/* Table */
.templateSection .tblTitle{margin-bottom:10px;}
.templateSection .tblTitle:after{display:block;content:'';clear:both;}
.templateSection .tblTitle .title{font-size:17px;}
.templateSection .tblTitle .desc{margin-left:5px;}
.templateSection .tblTitle .right{float:right;}
.templateSection .tblBox{margin-bottom:20px;border-top:2px solid #393939;}
.templateSection .tblBox table{border-left:1px solid #ddd;}
.templateSection .tblBox table th,
.templateSection .tblBox table td{padding:10px 5px;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.templateSection .tblBox table th{background:#f8f8f8;}
.templateSection .tblBox table.colStyle th,
.templateSection .tblBox table.colStyle td{text-align:center;}
.templateSection .tblBox table.rowStyle th,
.templateSection .tblBox table.rowStyle td{text-align:left;padding-left:15px;}
.templateSection .tblBox table + .conList,
.templateSection .tblBox table + p{margin-top:10px;}

/* Images List */
.templateSection .imgList{margin:0 -5px 40px;text-align:center;}
.templateSection .imgList:after{display:block;content:'';clear:both;}
.templateSection .imgList > div{display:inline-block;padding:5px;box-sizing:border-box;}
.templateSection .imgList.cols2 > div{float:left;width:50%;}
.templateSection .imgList.cols3 > div{float:left;width:33.3333%;}
.templateSection .imgList.cols4 > div{float:left;width:25%;}
.templateSection .imgList.cols5 > div{float:left;width:20%;}
.templateSection .imgList.cols6 > div{float:left;width:16.6666%;}
.templateSection .imgList .imgTitle{display:inline-block;margin-top:10px;font-size:15px;}

/* Text List */
.templateSection .conList{margin-bottom:20px;}
.templateSection .conList > li{position:relative;padding:2px 0;}
.templateSection .conList.dot > li{padding-left:10px;}
.templateSection .conList.dot > li:before{display:block;content:'';position:absolute;top:10px;left:0;width:3px;height:3px;background:#aaa;border-radius:3px;}
.templateSection .conList.line > li{padding-left:10px;}
.templateSection .conList.line > li:before{display:block;content:'-';position:absolute;top:0;left:0;color:#333;}
.templateSection .conList.star > li{padding-left:15px;}
.templateSection .conList.star > li:before{display:block;content:'※';position:absolute;top:0;left:0;color:#333;}
.templateSection .conList .conList{margin:3px 0;}
.templateSection .conList .conList li{font-size:13px;}

/* Time List */
.templateSection .timeList{margin-bottom:40px;}
.templateSection .timeList dt{float:left;position:relative;margin-right:30px;font-size:30px;clear:both;}
.templateSection .timeList dt:before{display:block;content:'';position:absolute;top:0;left:0;width:22px;height:2px;background:#5f9efa;}
.templateSection .timeList dd{float:left;margin-bottom:10px;}
.templateSection .timeList dd ul li{padding:4px 0;}
.templateSection .timeList dd ul li .time{display:inline-block;margin-right:10px;font-size:15px;}

/* Guide Box */
.templateSection .guideBox{position:relative;margin-bottom:40px;padding:20px;background:#f7f7f7;border-radius:10px;}
.templateSection .guideBox:after{display:block;content:'';clear:both;}
.templateSection .guideBox.iconLeft img{float:left;margin-right:15px;}
.templateSection .guideBox.iconRight img{float:right;margin-left:15px;}
.templateSection .guideBox .title{display:block;margin-bottom:10px;font-size:17px;}

/* Step List */
.templateSection .stepList{margin:0 -5px 40px;}
.templateSection .stepList ul:after{display:block;content:'';clear:both;}
.templateSection .stepList li{float:left;position:relative;display:table;padding:5px;width:auto;text-align:center;box-sizing:border-box;}
.templateSection .stepList.cols2 li{width:50%;}
.templateSection .stepList.cols3 li{width:33.3333%;}
.templateSection .stepList.cols4 li{width:25%;}
.templateSection .stepList.cols5 li{width:20%;}
.templateSection .stepList.cols6 li{width:16.6666%;}
.templateSection .stepList li:before{display:block;content:'';position:absolute;left:-15px;top:50%;margin-top:-15px;width:30px;height:30px;background:#5f9efa url(/images/cms/template/icon_arrow_white.png) center no-repeat;border-radius:50%;}
.templateSection .stepList li.item1:before{display:none;}
.templateSection .stepList li > span{display:table-cell;padding:10px 20px;height:80px;background:#f6f4ff;border:2px solid #5f9efa;border-radius:5px;vertical-align:middle;}
.templateSection .stepList li > span b{font-size:15px;}

/* Text List */
.templateSection .descRowList{margin:20px 0 40px;}
.templateSection .descRowList > ul > li{display:table;margin-bottom:10px;width:100%;border:1px solid #ddd;border-radius:10px;overflow:hidden;}
.templateSection .descRowList > ul > li > b{display:table-cell;padding:10px;width:150px;text-align:center;font-size:16px;color:#fff;background:#5f9efa;vertical-align:middle;}
.templateSection .descRowList > ul > li > div{display:table-cell;padding:10px 10px 10px 20px;text-align:left;vertical-align:middle;}
.templateSection .descRowList > ul > li > div .conList{margin-bottom:0;}
.templateSection .descColList{margin:0 -5px 40px;}
.templateSection .descColList > ul:after{display:block;content:'';clear:both;}
.templateSection .descColList > ul > li{float:left;padding:5px;width:250px;box-sizing:border-box;}
.templateSection .descColList.cols2 > ul > li{width:50%;}
.templateSection .descColList.cols3 > ul > li{width:33.3333%;}
.templateSection .descColList.cols4 > ul > li{width:25%;}
.templateSection .descColList > ul > li > div{border:1px solid #ddd;border-radius:10px;overflow:hidden;}
.templateSection .descColList > ul > li .title{display:table;padding:10px;width:100%;text-align:center;background:#5f9efa;}
.templateSection .descColList > ul > li .title b{display:table-cell;font-size:16px;color:#fff;vertical-align:middle;}
.templateSection .descColList > ul > li .con{padding:10px;}

/* Icon List */
.templateSection .iconList{margin:0 -5px 40px;text-align:center;}
.templateSection .iconList > ul:after{display:block;content:'';clear:both;}
.templateSection .iconList > ul > li{float:left;padding:5px;box-sizing:border-box;}
.templateSection .iconList.colsAuto > ul li{display:inline-block;float:none;width:auto !important;}
.templateSection .iconList.cols4 > ul > li{width:25%;}
.templateSection .iconList.cols5 > ul > li{width:20%;}
.templateSection .iconList.cols6 > ul > li{width:16.6666%;}
.templateSection .iconDescList{margin:0 -5px 40px;}
.templateSection .iconDescList:after{display:block;content:'';clear:both;}
.templateSection .iconDescList > div{float:left;display:table;padding:5px;box-sizing:border-box;}
.templateSection .iconDescList.cols2 > div{width:50%;}
.templateSection .iconDescList.cols3 > div{width:33.3333%;}
.templateSection .iconDescList.cols4 > div{width:25%;}
.templateSection .iconDescList.cols5 > div{width:20%;}
.templateSection .iconDescList > div > .icon{display:table-cell;width:100px;vertical-align:middle;}
.templateSection .iconDescList > div > ul{display:table-cell;padding-left:20px;vertical-align:middle;}

/* Download List */
.templateSection .downCon{margin-bottom:40px;}
.templateSection .downCon:after{display:block;content:'';clear:both;}
.templateSection .downCon > img{float:right;margin-left:10px;}
.templateSection .downCon .subTitle{display:inline-block;margin-top:0;}
.templateSection .downList{position:relative;margin-bottom:40px;padding:20px 20px 20px 160px;border:1px solid #ddd;border-radius:15px;}
.templateSection .downList > img{position:absolute;left:30px;top:30px;}
.templateSection .downList ul li{position:relative;padding:10px 0;background:url(/images/cms/template/icon_btnDown.png) right center no-repeat;border-bottom:1px solid #ddd;}
.templateSection .downList ul li:last-child{border-bottom:none;}
.templateSection .downList ul li a{display:block;padding-right:46px;}
.templateSection .downList ul li b{font-size:17px;}
.templateSection .docDownList{margin:0 -5px 40px;}
.templateSection .docDownList:after,
.templateSection .docDownList > div:after{display:block;content:'';clear:both;}
.templateSection .docDownList > div{float:left;padding:5px;box-sizing:border-box;}
.templateSection .docDownList.cols2 > div{width:50%;}
.templateSection .docDownList.cols3 > div{width:33.3333%;}
.templateSection .docDownList.cols4 > div{width:25%;}
.templateSection .docDownList > div > img{float:left;margin-right:20px;box-sizing:border-box;}
.templateSection .docDownList > div .con b{display:block;margin-bottom:5px;font-size:17px;}
.templateSection .docDownList > div .con .btnDown{margin-top:10px;}

/* image Text List */
.templateSection .imgDescList{margin-bottom:40px;}
.templateSection .imgDescList > div{position:relative;padding:20px 0 20px 140px;min-height:180px;border-bottom:1px solid #ddd;box-sizing:border-box;}
.templateSection .imgDescList > div > img{position:absolute;left:0;top:20px;}
.templateSection .imgDescList > div > strong{display:block;margin-bottom:10px;font-size:17px;}
.templateSection .imgDescList > div > ul{}
.templateSection .imgDescList > div > ul:after{display:block;content:'';clear:both;}
.templateSection .imgDescList > div > ul > li{display:table;margin-bottom:10px;}
.templateSection .imgDescList > div > ul > li b{display:table-cell;position:relative;padding-right:10px;width:80px;box-sizing:border-box;}
.templateSection .imgDescList > div > ul > li b:after{display:block;content:'';position:absolute;top:5px;right:0;width:1px;height:10px;background:#ddd;}
.templateSection .imgDescList > div > ul > li span{display:table-cell;padding-left:10px;}

/* Images Title */
.templateSection .imgTitleCon{display:table;margin-bottom:40px;}
.templateSection .imgTitleCon img{display:table-cell;vertical-align:middle;}
.templateSection .imgTitleCon span{display:table-cell;padding-left:10px;vertical-align:middle;}
.templateSection .imgTitleCon span b{display:block;margin-bottom:10px;font-size:17px;}

/* Text Col */
.templateSection .descColCon{margin:0 -10px 40px;}
.templateSection .descColCon:after{display:block;content:'';clear:both;}
.templateSection .descColCon > p{float:left;margin-bottom:15px;padding:0 10px;width:50%;box-sizing:border-box;}
.templateSection .descColCon > p:nth-child(2n + 1){clear:both;}

/* information List (Circle) */
.templateSection .infoCircleList{margin:0 -5px 40px;text-align:center;}
.templateSection .infoCircleList > ul > li{display:inline-block;padding:5px;box-sizing:border-box;}
.templateSection .infoCircleList > ul > li > span{display:table-cell;padding:10px;width:200px;height:200px;font-size:20px;color:#fff;font-weight:bold;text-align:center;background:#5f9efa;border-radius:50%;vertical-align:middle;box-sizing:border-box;}

/* Privacy */
.templateSection .privacyCon{margin-bottom:40px;}
.templateSection .privacyCon dt{margin-bottom:10px;font-size:17px;font-weight:bold;}
.templateSection .privacyCon dd{margin-bottom:30px;}
.templateSection .privacyCon dd > ol{text-indent:-15px;padding-left:15px;}
.templateSection .privacyCon dd li{padding:2px 0;}
.templateSection .privacyCon dd > ol > li > ul,
.templateSection .privacyCon dd > ul > li > ul{padding:5px 0;text-indent:-10px;padding-left:10px;}
.templateSection .privacyCon dd > ol > li > ol,
.templateSection .privacyCon dd > ul > li > ol{padding:5px 0;text-indent:-20px;padding-left:20px;}
.templateSection .privacyCon dd > ul{text-indent:-10px;padding-left:10px;}

/* Sitemap */
.templateSection .sitemapCon{margin-bottom:40px;}
.templateSection .sitemapCon > ul:after{display:block;content:'';clear:both;}
.templateSection .sitemapCon > ul > li{float:left;margin-bottom:40px;padding:0 10px;width:25%;box-sizing:border-box;}
.templateSection .sitemapCon > ul > li:nth-child(4n + 1){clear:both;}
.templateSection .sitemapCon > ul > li > a{display:block;height:50px;line-height:50px;font-size:17px;text-align:center;color:#fff;background:#5f9efa;}
.templateSection .sitemapCon > ul > li > ul > li{border-bottom:1px solid #ddd;}
.templateSection .sitemapCon > ul > li > ul > li > a{display:block;padding:15px;font-size:15px;}
.templateSection .sitemapCon > ul > li > ul > li > ul{padding:10px;background:#f7f7f7;}
.templateSection .sitemapCon > ul > li > ul > li > ul > li > a{display:block;position:relative;padding:5px 5px 5px 10px;}
.templateSection .sitemapCon > ul > li > ul > li > ul > li > a:before{display:block;content:'';position:absolute;left:0;top:13px;width:3px;height:3px;background:#555;border-radius:50%;}

@media all and (max-width:960px){
	.templateSection .tblBox table th,
	.templateSection .tblBox table td{padding:5px !important;}
	.templateSection .imgList > div{width:50%;}
	.templateSection .imgList > div:nth-child(odd){clear:both;}
	.templateSection .timeList dt{float:none;display:inline-block;margin-bottom:5px;font-size:24px;}
	.templateSection .timeList dd{float:none;display:block;}
	.templateSection .stepList{padding:0 20px;}
	.templateSection .stepList.cols4 li{width:50%;}
	.templateSection .stepList.cols4 li:nth-child(odd){clear:both;}
	.templateSection .stepList.cols5 li,
	.templateSection .stepList.cols6 li{width:33.3333%;}
	.templateSection .stepList.cols5 li:nth-child(3n + 1),
	.templateSection .stepList.cols6 li:nth-child(3n + 1){clear:both;}
	.templateSection .descColList > ul > li{width:50% !important;}
	.templateSection .descColList > ul > li:nth-child(odd){clear:both;}
	.templateSection .iconDescList > div{width:50% !important;}
	.templateSection .iconDescList > div:nth-child(odd){clear:both;}
	.templateSection .downList{padding-left:100px;}
	.templateSection .downList > img{left:15px;width:70px;}
	.templateSection .docDownList > div{display:block;text-align:center;}
	.templateSection .docDownList > div > img{float:none;margin:0;padding:0 10px 10px;}
	.templateSection .sitemapCon > ul > li{width:50%;}
	.templateSection .sitemapCon > ul > li:nth-child(odd){clear:both;}
}

@media all and (max-width:640px){
	.templateSection *{font-size:13px;}
	.templateSection .mainTitle{margin-bottom:10px;font-size:17px;}
	.templateSection .subTitle{margin-bottom:5px;font-size:15px;background-position:left 2px;}
	.templateSection .imgCon,
	.templateSection .imgList,
	.templateSection .timeList,
	.templateSection .guideBox,
	.templateSection .stepList,
	.templateSection .descRowList,
	.templateSection .descColList,
	.templateSection .iconList,
	.templateSection .iconDescList,
	.templateSection .downCon,
	.templateSection .downList,
	.templateSection .docDownList,
	.templateSection .imgDescList,
	.templateSection .imgTitleCon,
	.templateSection .descColCon,
	.templateSection .infoCircleList{margin-bottom:20px;}
	.templateSection .imgCon{text-align:center;}
	.templateSection .imgCon p,
	.templateSection .imgCon ul{text-align:left;}
	.templateSection .imgCon.left img,
	.templateSection .imgCon.right img{float:none;margin:10px 0;}
	.templateSection .tblTitle .title{font-size:15px;}
	.templateSection .tblTitle .right{float:none;display:block;text-align:right;}
	.templateSection .tblBox table th,
	.templateSection .tblBox table td{padding:3px !important;}
	.templateSection .imgList > div{width:100% !important;}
	.templateSection .imgList .imgTitle{font-size:13px;}
	.templateSection .conList .conList li{font-size:12px;}
	.templateSection .timeList dd ul li .time{display:block;}
	.templateSection .guideBox .title{margin-bottom:5px;font-size:15px;}
	.templateSection .guideBox img{width:70px;}
	.templateSection .stepList li{width:50% !important;}
	.templateSection .stepList.cols5 li:nth-child(3n + 1),
	.templateSection .stepList.cols6 li:nth-child(3n + 1){clear:inherit;}
	.templateSection .stepList li:nth-child(odd){clear:both;}
	.templateSection .descRowList > ul > li > b{width:100px;}
	.templateSection .descColList > ul > li{width:100% !important;}
	.templateSection .iconDescList > div{width:100% !important;}
	.templateSection .iconDescList > div > .icon{padding-right:10px;width:70px;}
	.templateSection .iconList > ul > li{padding:10px 5px;}
	.templateSection .iconList.cols4 > ul > li{width:50%;}
	.templateSection .iconList.cols5 > ul > li,
	.templateSection .iconList.cols6 > ul > li{width:33.3333%;}
	.templateSection .iconList.cols4 > ul > li:nth-child(odd),
	.templateSection .iconList.cols5 > ul > li:nth-child(3n + 1),
	.templateSection .iconList.cols6 > ul > li:nth-child(3n + 1){clear:both;}
	.templateSection .downCon > img{display:none;}
	.templateSection .downList{padding:10px 20px;}
	.templateSection .downList > img{display:none;}
	.templateSection .downList ul li b{font-size:15px;}
	.templateSection .docDownList > div{width:50% !important;}
	.templateSection .docDownList > div:nth-child(odd){clear:both;}
	.templateSection .docDownList > div .con b{font-size:15px;}
	.templateSection .imgDescList > div{padding:20px 0;text-align:center;}
	.templateSection .imgDescList > div > img{position:static;margin-bottom:10px;}
	.templateSection .imgDescList > div > strong{font-size:15px;}
	.templateSection .imgDescList > div > ul{text-align:left;}
	.templateSection .imgTitleCon span b{margin-bottom:5px;font-size:15px;}
	.templateSection .descColCon > p{float:none;margin-bottom:10px;width:100%;}
	.templateSection .privacyCon dt{font-size:15px;}
	.templateSection .privacyCon dd{margin-bottom:15px;}
	.templateSection .sitemapCon > ul > li{margin-bottom:20px;}
	.templateSection .sitemapCon > ul > li > a{font-size:15px;}
	.templateSection .sitemapCon > ul > li > ul > li > a{font-size:14px;}
}